.navmarg {
    margin-left: 5%;
    padding: 2% 2%;
}

.package {
    margin-top: 5%;
}

.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.section_heading {
    padding: 20px 0px 20px 0px;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}

.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}

.faq-accordian .card:last-child {
    margin-bottom: 0;
}

.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}

.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}

.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}

.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}

.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

.colpart {
    /* padding: 1px; */
    /* margin: 1px; */
    border-radius: 8%;
    text-align: justify;
}

.ptable-status {
    margin-right: -30px;
}

.ptable-status span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    padding: 5px 0;
    text-align: center;
    color: #9e9c9c;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #c90b0b;
    border-radius: inherit;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 10px 10px;
}

a {
    text-decoration: none;
    color: white;
}

.pc {
    color: blue;
    font-weight: 700;
    background-color: white;
    border-radius: 10%;
}

.footer {
    padding: 10% 3%;
    background-color: black;
    margin-top: 3%;
}

.para {
    text-align: left;
    color: white;
}

.right {
    margin-top: 0px;
    float: right;
    text-align: center;
}